extends nav
include mixins/types

block title
  title #{metadata.title}
  
block scripts
  script(src="/js/library.js")
  script
    $(function() {
      window.Libraries.#{metadata.name} = window.Libraries.DocumentModelFactory();
      window.Libraries.#{metadata.name}.metadata = !{JSON.stringify(metadata)};
      window.Libraries.#{metadata.name}Collection = window.Libraries.DocumentCollectionFactory(window.Libraries.#{metadata.name}, '/api/libraries/#{metadata.name}');
      var app = new window.Libraries.LibraryView({
        modelType: window.Libraries.#{metadata.name},
        collectionType: window.Libraries.#{metadata.name}Collection
      });
    })

block content
  .row-fluid
    .btn-toolbar.span9(style="margin-top: 0; margin-bottom: 0;")
      .btn-group
        btn.btn#refresh
          i.icon-refresh
          | Refresh
        btn.btn#addDocument
          i.icon-plus
          | New
        btn.btn.disabled#editDocument(disabled)
          i.icon-pencil
          | Edit
        btn.btn.disabled#delete(disabled)
          i.icon-trash
          | Delete

      .btn-group
        a.btn(href="/admin/docs/#{metadata.name}")
          i.icon-wrench
          | Configure

  table.table.table-striped.table-condensed
    thead
      tr
        th
          input#selectAll(type="checkbox")
        each field, i in metadata.fields
          th
            | #{field.heading}
    tbody

  script#documentTemplate(type="template")
    td
      input.selector(type="checkbox")
    each field, i in metadata.fields
      mixin library-field-view(field)

  hr

block modal
  // - New Document Modal Dialog
  #newDocumentModal.modal.hide.fade
    .modal-header
      button.close(data-dismiss="modal") x
      h3 Add new document
    .modal-body
      form#newDocumentForm.form-horizontal.well
        fieldset
          .control-group
            label.control-label File
            .controls
              input.input-xlarge(type="file")
          each field, i in metadata.fields
            .control-group
              label.control-label(for="#{field.name}") #{field.heading}
              mixin field-input(field, true)
          input(type="submit", style="visibility:hidden;")
    .modal-footer
      a#addDocumentCancel.btn.btn-inverse(href="#") Cancel
      a#addDocumentSubmit.btn.btn-primary.submit(href="#") Add Item

  // - Edit Document Modal Dialog
  #editDocumentModal.modal.hide.fade
    .modal-header
      button.close(data-dismiss="modal") x
      h3 Edit document

    .modal-body
      form#editDocumentForm.form-horizontal.well
        fieldset
          each field, i in metadata.fields
            .control-group
              label.control-label #{field.heading}
              mixin field-input(field, false)
          input(type="submit", style="visibility:hidden;")

    .modal-footer
      a#editDocumentCancel.btn.btn-inverse(href="#") Cancel
      a#editDocumentSubmit.btn.btn-primary.submit(href="#") Update
