<% script = '/lists/passwords/script.js' %>

<div id="listview">
  <div class="row-fluid">
    <%- partial('sidenav.ejs') %>

    <div class="span9">
      <div class="page-header" style="padding-bottom: 5px; margin-bottom: 10px;">
        <div class="row-fluid">
          <h1 id="title" class="pull-left"><%= metadata.title %></h1>
          <div class="btn-toolbar span9" style="margin-top: 0; margin-bottom: 0;">
            <div class="btn-group">
              <btn class="btn" id="refresh"><i class="icon-refresh"></i> Refresh</btn>
              <btn class="btn" id="addItem"><i class="icon-plus"></i> New</btn>
              <btn class="btn disabled" id="editItem" disabled="disabled"><i class="icon-pencil"></i> Edit</btn>
              <btn class="btn disabled" id="delete" disabled="disabled"><i class="icon-trash"></i> Delete</btn>
            </div>
            <div class="btn-group">
              <btn class="btn"><i class="icon-wrench"></i> Configure</btn>
            </div>
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Views
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/lists/<%= metadata.name %>">Default</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th><input id="selectAll" type="checkbox"></input></th>
            <% for (field in metadata.fields) { %>
              <th><%= metadata.fields[field].heading %></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  
    <script type="template" id="listItemTemplate">
      <td><input class="selector" type="checkbox"></input></td>
      <% for (fieldName in metadata.fields) {
        var field = metadata.fields[fieldName];
        switch(field.type) { 
          case 'String': %>
            <td>{{<%= fieldName %>}}</td>
          <% break; 
          case 'Url': %>
            <td><a href="{{<%= fieldName%>}}">{{<%= fieldName%>}}</a></td>
          <% break; 
          case 'Name': %>
            <td><a class="namefield">{{<%= fieldName%>}}</a></td>
          <% break; %>
      <% }} %>
    </script>
  
  </div>

  <%- partial('newItemModal.ejs') %>
  <%- partial('editItemModal.ejs') %>
</div>