<% script = '/lists/' + list + '/script.js' %>
<% title = metadata.title %>

<ul class="breadcrumb" style="width: 100%">
  <li>
    <a href="/">Home</a> <span class="divider">></span>
  </li>
  <li>
    <a href="/lists">Lists</a> <span class="divider">></span>
  </li>
  <li>
    <a href="/lists/<%= metadata.name %>"><%= metadata.title %></a> <span class="divider">></span>
  </li>
  <li class="active">
    Standard
  </li>
</ul>

<div class="container-fluid">
  <div id="listview">
    <div class="row-fluid">
      <%- partial('sidenav.ejs') %>

      <div class="span10">
        <div class="row-fluid">
          <div class="btn-toolbar span9" style="margin-top: 0; margin-bottom: 0;">
            <div class="btn-group">
              <btn class="btn" id="refresh"><i class="icon-refresh"></i> Refresh</btn>
              <btn class="btn" id="addItem"><i class="icon-plus"></i> New</btn>
              <btn class="btn disabled" id="editItem" disabled="disabled"><i class="icon-pencil"></i> Edit</btn>
              <btn class="btn disabled" id="delete" disabled="disabled"><i class="icon-trash"></i> Delete</btn>
            </div>
            <div class="btn-group">
              <a href="<%= metadata.name %>/admin" class="btn"><i class="icon-wrench"></i> Configure</a>
            </div>
          </div>
        </div>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th><input id="selectAll" type="checkbox"></input></th>
              <% metadata.fields.forEach(function(field) { %>
                <th><%= field.heading %></th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
  
      <script type="template" id="listItemTemplate">
        <td><input class="selector" type="checkbox"></input></td>
        <% metadata.fields.forEach(function(field) {
            switch(field.type) { 
              case 'String': %>
                <td>{{<%= field.name %>}}</td>
              <% break; 
              case 'Url': %>
                <td><a href="{{<%= field.name%>}}">{{<%= field.name %>}}</a></td>
              <% break; 
              case 'Name': %>
                <td><a class="namefield">{{<%= field.name %>}}</a></td>
              <% break; 
          }}) %>
      </script>
  
    </div>

    <%- partial('newItemModal.ejs') %>
    <%- partial('editItemModal.ejs') %>
  </div>
  
  <hr />
  
</div>