extends nav
include mixins/types

block title
  title #{metadata.title}

block scripts
  script(src="/js/list.js")
  script
    $(function() {
      window.Lists.#{metadata.name} = window.Lists.ListModelFactory({});
      window.Lists.#{metadata.name}.metadata = !{JSON.stringify(metadata)};
      window.Lists.#{metadata.name}Collection = window.Lists.ListCollectionFactory(window.Lists.#{metadata.name}, '/api/lists/#{metadata.name}');
      var app = new window.Lists.AppView({
        modelType: window.Lists.#{metadata.name},
        listType: window.Lists.#{metadata.name}Collection
      });
    })

block content
  .row-fluid
    .btn-toolbar.span9(style="margin-top: 0; margin-bottom: 0;")
      .btn-group
        btn.btn#refresh
          i.icon-refresh
          | Refresh
        btn.btn#addItem
          i.icon-plus
          | New
        btn.btn.disabled#editItem(disabled)
          i.icon-pencil
          | Edit
        btn.btn.disabled#delete(disabled)
          i.icon-trash
          | Delete

      .btn-group
        a.btn(href="/admin/lists/#{metadata.name}")
          i.icon-wrench
          | Configure

  table.table.table-striped.table-condensed
    thead
      tr
        th: input#selectAll(type="checkbox")
        each field, i in metadata.fields
          th #{field.heading}
    tbody

  script#listItemTemplate(type="template")
    td
      input.selector(type="checkbox")
    each field, i in metadata.fields
      mixin list-field-view(field)
      
  hr

block modal
  // - New Item Modal Dialog
  #newItemModal.modal.hide.fade
    .modal-header
      button.close(data-dismiss="modal") x
      h3 Add new item
    .modal-body
      form#newItemForm.form-horizontal.well
        fieldset
          each field, i in metadata.fields
            .control-group
              label.control-label(for="#{field.name}") #{field.heading}
              mixin field-input(field, true)
          input(type="submit", style="visibility:hidden;")
    .modal-footer
      a#addItemCancel.btn.btn-inverse(href="#") Cancel
      a#addItemSubmit.btn.btn-primary.submit(href="#") Add Item

  // - Edit Item Modal Dialog
  #editItemModal.modal.hide.fade
    .modal-header
      button.close(data-dismiss="modal") x
      h3 Edit item

    .modal-body
      form#editItemForm.form-horizontal.well
        fieldset
          each field, i in metadata.fields
            .control-group
              label.control-label #{field.heading}
              mixin field-input(field, false)
          input(type="submit", style="visibility:hidden;")

    .modal-footer
      a#editItemCancel.btn.btn-inverse(href="#") Cancel
      a#editItemSubmit.btn.btn-primary.submit(href="#") Update
